<div id="slides">
  <div id="project-listing" class="slide">
      <article class="project-node left-col" slideId="shakespeare-playground">
        <header>
          <h2 class="link-effect">Shakespeare's Playground</h2>
        </header>
        <section class="project-summary">
          An exploration I made to experiment with HTML5 syntax and @font-face.
        </section>
      </article>

      <article class="project-node right-col" slideId="nocturnal-blacksburg">
        <header>
          <h2 class="link-effect">Nocturnal Blacksburg</h2>
        </header>
        <section class="project-summary">
          An experiment with CSS3 gradients and masks
        </section>
      </article>

      <article class="project-node left-col" slideId="opengl-animation-tool">
        <header>
          <h2 class="link-effect">OpenGL Animation Tool</h2>
        </header>
        <section class="project-summary">
          An animation engine I wrote for an OpenGL class I took during college.
        </section>
      </article>
  </div>
  
  <div id="shakespeare-playground" class="slide project-drescription next" slideId="shakespeare-playground">
    <a href="#" class="back-button">&lt; Back</a>
    <header>
      <h2>Shakespeare's Playground</h2>
    </header>
    <section class="project-summary">
      <p/>
      <a href="http://playground.johnryding.com/shakespeare" target="_blank">Demo</a>
      <br/>
      <a href="https://github.com/strife25/Shakespeare-Playground" target="_blank">Source Code</a>
      <p/>
      As of 11/2011, Shakespeare's Playground if best viewed in Webkit (Chrome or Safari) or Firefox browsers.
      <p/>
      This project was my first real foray into playing with HTML5 and CSS technologies. Shakespeare's Playground was started as an assignment from a college class to explore what type of interactions we could come up with given a set of Shakespeare's plays compiled into an XML format.
      <p/>
      The UI of the project was influenced by the use of the <a href="http://www.dafont.com/essays1743.font">Essays-1743</a> font in <a href="http://en.wikipedia.org/wiki/Mark_Pilgrim_(software_developer)">Mark Pilgrim's</a> <a href="http://diveintohtml5.info/">Dive into HTML5</a> web site. I also tried to mimic the <a href="http://www.panic.com/coda/">"coda slider"</a> effect used on a number of different websites to try to give the page a "wow" factor when I presented the page to my class.
      <p/>
    </section>
  </div>
  
  <div id="nocturnal-blacksburg" class="slide project-drescription next" slideId="nocturnal-blacksburg">
    <a href="#" class="back-button">&lt; Back</a>
    <header>
      <h2>Nocturnal Blacksburg</h2>
    </header>
    <section class="project-summary">
      <p/>
      <a href="http://playground.johnryding.com/nocturnal-blacksburg" target="_blank">Demo</a>
      <br/>
      <a href="https://github.com/strife25/Nocturnal-Blacksburg" target="_blank">Source Code</a>
      <p/>
      The original concept for this project was to view how the town of Blacksburg, VA changes from day to night.
      <p/>
      To achieve the mouseover effect, I used a combination of webkit's CSS3 support for <a href="http://www.webkit.org/blog/181/css-masks/">masks</a> and <a href="http://www.webkit.org/blog/1424/css3-gradients/">gradients</a>. As such, this demo will only work in Chrome and Safari.
    </section>
  </div>
  
  <div id="opengl-animation-tool" class="slide project-drescription next" slideId="opengl-animation-tool">
    <a href="#" class="back-button">&lt; Back</a>
    <header>
      <h2>OpenGL Animation Tool</h2>
    </header>
    <section class="project-summary">
      <p/>
      <a href="https://github.com/strife25/OpenGL-Animation-Tool" target="_blank">Source Code</a>
      <p/>
      This is an OpenGL-based animation engine I wrote for one of my college classes. I designed it to use the technique of capturing <a href="http://en.wikipedia.org/wiki/Key_frame">keyframes</a> of a robot and interpolating the position of the robot's limbs during playback. To help with the interpolation, I use <a href="http://www.cubic.org/docs/hermite.htm">Hermite Curves</a> to determine the position of points.
    </section>
  </div>
</div>
<script src="js/projects.js"></script>

