<div id="slides">
  <div id="project-listing" class="slide">
      <article class="project-node left-col" slideId="shakespeare-playground">
        <header>
          <h2>Shakespeare's Playground</h2>
        </header>
        <section class="project-summary">
          An exploration I made to experiment with HTML5 syntax and @font-face.
        </section>
      </article>

      <article class="project-node right-col" slideId="nocturnal-blacksburg">
        <header>
          <h2>Nocturnal Blacksburg</h2>
        </header>
        <section class="project-summary">
          An experiment with CSS3 gradients and masks
        </section>
      </article>

      <article class="project-node left-col" slideId="opengl-animation-tool">
        <header>
          <h2>OpenGL Animation Tool</h2>
        </header>
        <section class="project-summary">
          An animation engine I wrote for an OpenGL class I took during college.
        </section>
      </article>
  </div>
  
  <div id="shakespeare-playground" class="slide project-drescription next" slideId="shakespeare-playground">
    <a href="#" class="back-button">&lt; Back</a>
    <header>
      <h2>Shakespeare's Playground</h2>
    </header>
    <section class="project-summary">
      An exploration I made to experiment with HTML5 syntax and @font-face.
    </section>
  </div>
  
  <div id="nocturnal-blacksburg" class="slide project-drescription next" slideId="nocturnal-blacksburg">
    <a href="#" class="back-button">&lt; Back</a>
    <header>
      <h2>Nocturnal Blacksburg</h2>
    </header>
    <section class="project-summary">
      An experiment with CSS3 gradients and masks
    </section>
  </div>
  
  <div id="opengl-animation-tool" class="slide project-drescription next" slideId="opengl-animation-tool">
    <a href="#" class="back-button">&lt; Back</a>
    <header>
      <h2>OpenGL Animation Tool</h2>
    </header>
    <section class="project-summary">
      An animation engine I wrote for an OpenGL class I took during college.
    </section>
  </div>
</div>
<script src="js/projects.js"></script>

