<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="author" href="http://johnryding.com/about">
      <link rel="icon" href="http://www.gravatar.com/avatar/b6edd6d4a4d6c23f7377fdfeed73e348.png">
      <title>John Ryding | <%= @title %></title>
  
      <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <% unless ( defined?(text) ).nil? %>
          <%= text %>
        <% else %>
          <%= yield %>
        <% end %>
    <body>
</html>